<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

	<link th:href="@{/css/login.css}" rel="stylesheet" >

</head>
<body>

	<th:block th:replace="~{header :: headerFragment}"></th:block>
	
	<div class="wrap">
	

		<h2> 로그인 </h2>
	
		<form name="loginInfo">
			
			<div class="inputBox">
				<div>
					<div>아이디 <span class="col1"><input type="text" name="mid"></span> </div>
					<div>비밀번호 <span class="col2"><input type="text" name="mpwd"></span> </div>
				</div>
				<div>
						
				</div>
			</div>
			
		</form>
	
		
	</div>


</body>
</html>