<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

	<link th:href="@{/css/signUp.css}" rel="stylesheet" >
	<link th:href="@{/css/header.css}" rel="stylesheet" >
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

</head>
<body>

	<th:block th:replace="header :: headerFragment"></th:block>
	
	<div class="wrap">
	
		<h2 class="postHeader"> 회원가입 </h2>
		
		<form name="memberInfo" >
		
			
			<div class="inputWrap">
				
				<div class="nameBox"> 성명 <span class="inputNameBox"> <input type="text" name="mname" maxlength="15"> </span> </div>
				
				<div class="idBox"> 
					<div> 아이디 <span class="inputIdBox"> <input type="text" name="mid" maxlength="15" onChange="changeIdState()"> </span> </div>
					<div class="idBtn"> <button type="button" onclick="checkId()">중복검사</button> </div> 
				</div>
				
				<div class="pwdBox"> 비밀번호 <span class="inputPwdBox"> <input type="text" name="mpwd" maxlength="15"> </span> </div>
				
				<div class="pwdCheckBox"> 비밀번호 확인 <span class="inputPwdCheckBox"> <input type="text" name="checkPwd" maxlength="15"> </span> </div>
				
				<div class="emailBox">
					<div> 이메일 <span class="inputEmailBox"> <input type="text" name="memail" maxlength="30" onChange="changeEmailState()"> </span> </div>
					<div class="emailBtn"> <button type="button" onclick="sendEmail()">인증</button> </div>
				</div>
				<div class="outputEmail"></div>
				
				
			</div>
		</form>	
		
		<div class="buttonBox">		
			<input type="button" onclick="submit()" value="회원가입">
		</div>
			
		
	
	</div>
	
	<script src="./js/signUp.js" type="text/javascript"></script>

</body>
</html>