

.wrap{
	width: 800px;
	border-left: 1px solid #e8e8e8;
	border-right: 1px solid #e8e8e8; 
	margin: 0 auto;
}

.wrap h2{
	width: 100px;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 30px;
}

.inputBox{
	display: flex;
	width: 320px;
	margin: 0 auto;
}

.loginBtn{
	width: 54px;
	height: 40px;
	margin: 4px 0px 0px 14px;
}


.col1{
	margin-left: 16px;
}




